*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url(../Image/back.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.menu-bar{
    background: rgb(0,100,0);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color:#fff;
}
.menu-bar ul li{
    width: 120px;
    margin: 15;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration:none; 
    color:#fff;
}
.active, .menu-bar ul li:hover{
    background-color:#2bab0d;
    border-radius: 3px;
}
.sub-menu {
    display:none;

}
.menu-bar ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: 15px;
}
.menu-bar ul li:hover .sub-menu ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu ul li{
    width: 150px;
    padding:10px;
    border-bottom:1px dotted #fff;
    background:transparent;
    border-radius:0;
    text-align:left;
}
.fa-angle-right{
    float: left;
}
.menu-bar ul li:hover .sub-menu ul li:last-child{
    border-bottom:none;
}
.menu-bar ul li:hover .sub-menu ul li a:hover{
    color:#b2ff00;
}
.sub-menu-1{
    display: none;

}
.hover-me:hover .sub-menu-1{
    position: absolute;
    display: block;
    margin-top:-40;
    margin-left:140;
    background: rgb(0,100,0);
}
.p1{
    color: white;} 
footer{
        background-color: black;
        display:flex;
        color:white;
        justify-content: space-between;
       height:300px;
    }

.click{
    border: 2px solid black;
    border-radius:3px;
}